Repository sam-lapointe/AxieAnalytics-Azure: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/orchestrator.yml

azure-pipelines.yml:
  pool:
    name: OnPrem
  stages:
  - stage: TerraformValidation
    displayName: Terraform Validate
    variables:
    - group: Dev
    jobs:
    - job: ValidateTerraform
      steps:
      - task: TerraformInstaller@1
        displayName: Terraform Install
        inputs:
          terraformVersion: latest
  ...

azure-pipelines/orchestrator.yml:
  pool:
    name: OnPrem
  stages:
  - stage: DetermineChangedDirs
    jobs:
    - job: DetermineChanges
      steps:
      - checkout: self
        persistCredentials: true
        fetchDepth: 0
      - script: 'echo "##[group]Checking which folders changed..."
  
          git diff --name-only HEAD^ > changed.txt
  
  ...

Test Function App Slot Without Replace
  IaC/modules/function-app/main.tf
  webhook_listener/test_pipeline.txt
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Debug Function App Slot
  webhook_listener/test_pipeline.txt
Due: azure-pipelines/orchestrator.yml

Debug Function App Slot
  IaC/main.tf
  webhook_listener/test_pipeline.txt
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Debug
  IaC/main.tf
  webhook_listener/test_pipeline.txt
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Test Removed Function App Staging Slot.
  IaC/modules/function-app/main.tf
  webhook_listener/test_pipeline.txt
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Test Removed Function App Staging Slot
  azure-pipelines/orchestrator.yml
  webhook_listener/test_pipeline.txt
Due: azure-pipelines/orchestrator.yml

Test Function App Configuration Modification
  IaC/main.tf
  webhook_listener/test_pipeline.txt
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Allow modification of production function app
  IaC/modules/function-app/main.tf
  webhook_listener/test_pipeline.txt
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Test Function App Modification
  IaC/main.tf
  webhook_listener/test_pipeline.txt
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Test Function App Drift
  webhook_listener/test_pipeline.txt
Due: azure-pipelines/orchestrator.yml

Version without function app staging slot
  IaC/modules/function-app/main.tf
  azure-pipelines/orchestrator.yml
  webhook_listener/test_pipeline.txt
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Added Authorized IPs variable for PostgreSQL.
  IaC/env/dev.tfvars
  IaC/env/prod.tfvars
  IaC/env/staging.tfvars
  IaC/main.tf
  IaC/modules/postgresql/main.tf
  IaC/modules/postgresql/variables.tf
  IaC/variables.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Updated orchestrator for PostgreSQL Authorized IPs.
  IaC/modules/postgresql/outputs.tf
  azure-pipelines/orchestrator.yml
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Added sensitivity to PostgreSQL Authorized IPs.
  IaC/modules/postgresql/variables.tf
  IaC/variables.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Created Liquibase files for PostgreSQL configuration.
  database_config/changelogs/01-create-tables.yaml
  database_config/changelogs/02-create-users.yaml
  database_config/changelogs/03-grant-permissions.yaml
  database_config/changelogs/master.yaml
Due: none

Added creation of Database with Terraform.
  IaC/main.tf
  IaC/modules/postgresql/main.tf
  IaC/modules/postgresql/variables.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Database configuration with Liquibase to CI/CD.
  azure-pipelines/orchestrator.yml
Due: none

Added liquibase properties and fixed conditions in orchestrator.yml.
  database_config/liquibase.properties
Due: none

Updated triggers for orchestrator.yml.
  azure-pipelines/orchestrator.yml
Due: none

Test Database configuration.
  database_config/test.txt
Due: none

Fixed format of Liquibase configuration files and CI/CD execution of liquibase.
  azure-pipelines/orchestrator.yml
  database_config/changelogs/01-create-tables.yaml
  database_config/changelogs/02-create-users.yaml
  database_config/changelogs/03-grant-permissions.yaml
  database_config/changelogs/master.yaml
Due: none

Update orchestrator.yml for Azure Pipelines
  azure-pipelines/orchestrator.yml
Due: none

Test Terraform Output.
  azure-pipelines/orchestrator.yml
  database_config/test.txt
Due: none

Test Terraform Output 2
  azure-pipelines/orchestrator.yml
  database_config/test.txt
Due: none

Added outputs to IaC.
  IaC/outputs.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Fixed Terraform format.
  IaC/outputs.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Test Terraform Output 3
  azure-pipelines/orchestrator.yml
  database_config/test.txt
Due: none

Test Terraform Output 4
  azure-pipelines/orchestrator.yml
  database_config/test.txt
Due: none

Test Terraform Output 5
  azure-pipelines/orchestrator.yml
  database_config/test.txt
Due: none

Test Terraform Output 6
  azure-pipelines/orchestrator.yml
  database_config/test.txt
Due: none

Test Terraform Output 7
  azure-pipelines/orchestrator.yml
  database_config/test.txt
Due: none

Test Terraform Output 8
  azure-pipelines/orchestrator.yml
  database_config/test.txt
Due: none

Test Terraform Ouput 9
  azure-pipelines/orchestrator.yml
  database_config/test.txt
Due: none

Test Terraform Output 10
  azure-pipelines/orchestrator.yml
  database_config/test.txt
Due: none

Test Terraform Output 11
  azure-pipelines/orchestrator.yml
  database_config/test.txt
Due: none

Test Terraform Output 12
  azure-pipelines/orchestrator.yml
  database_config/test.txt
Due: none

Test Terraform Output 13
  azure-pipelines/orchestrator.yml
  database_config/test.txt
Due: none

Test Terraform Output 14
  azure-pipelines/orchestrator.yml
  database_config/test.txt
Due: none

Test DB Configuration 1
  azure-pipelines/orchestrator.yml
  database_config/test.txt
Due: none

Updated DeleteDev in CI/CD
  azure-pipelines/orchestrator.yml
  database_config/test.txt
Due: none

Path conditions:
  azure-pipelines.yml: any of: IaC
  azure-pipelines/orchestrator.yml: any of: IaC, webhook_listener
