Repository sam-lapointe/AxieAnalytics-Azure: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Path conditions:
  azure-pipelines.yml: any of: IaC
  azure-pipelines/orchestrator.yml: any of: IaC, webhook_listener

Test Pipeline
  webhook_listener/test_pipeline.txt
Due: azure-pipelines/orchestrator.yml

Update orchestrator.yml for Azure Pipelines
  azure-pipelines/orchestrator.yml
Due: none

Update ci-iac.yml for Azure Pipelines
  azure-pipelines/ci-iac.yml
Due: none

Update ci-webhooklistener.yml for Azure Pipelines
  azure-pipelines/ci-webhooklistener.yml
Due: none

Added deployment slot to Azure Function Apps.
  IaC/modules/function-app/main.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines/azure-pipelines.yml
Due: none

Added Role Assignment for Storage Account.
  IaC/main.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Added Terraform module for Storage Account.
  IaC/main.tf
  IaC/modules/storage-account/main.tf
  IaC/modules/storage-account/outputs.tf
  IaC/modules/storage-account/variables.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Fixed error with Terraform storage account.
  IaC/main.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Added storage access key to Function App Slot.
  IaC/main.tf
  IaC/modules/function-app/main.tf
  IaC/modules/storage-account/main.tf
  IaC/modules/storage-account/variables.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml
