Repository sam-lapointe/AxieAnalytics-Azure: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Path conditions:
  azure-pipelines.yml: any of: IaC
  azure-pipelines/orchestrator.yml: any of: IaC, webhook_listener

Test DB Configuration 2
  database_config/test.txt
Due: none

Test DB Configuration 3
  database_config/test.txt
Due: none

Added block timestamp to message sent to Service Bus Topic.
  .gitignore
  webhook_listener/function_app.py
  webhook_listener/test_function_app.py
Due: azure-pipelines/orchestrator.yml

Added continueOnError for manual validation to delete Dev environment in CI/CD.
  azure-pipelines/orchestrator.yml
Due: none

Added PostgreSQL table for contracts.
  database_config/changelogs/01-create-tables.yaml
Due: none

Removed temporary file.
  database_config/test.txt
Due: none

Modified contracts table columns.
  database_config/changelogs/01-create-tables.yaml
Due: none

Written the Contract and Transaction class for the store_sales function.
  database_config/changelogs/01-create-tables.yaml
  store_sales/.funcignore
  store_sales/.gitignore
  store_sales/contract.py
  store_sales/function_app.py
  store_sales/host.json
  store_sales/requirements.txt
  store_sales/store_sales.py
  store_sales/transaction.py
Due: none

Renamed variable in webhook_listener and conitnued store_sales.
  store_sales/contract.py
  store_sales/function_app.py
  store_sales/store_sales.py
  store_sales/transaction.py
  webhook_listener/function_app.py
  webhook_listener/test_function_app.py
Due: azure-pipelines/orchestrator.yml

Modified PostgreSQL username.
  IaC/main.tf
  IaC/variables.tf
  azure-pipelines/orchestrator.yml
  database_config/changelogs/02-create-users.yaml
  database_config/changelogs/03-grant-permissions.yaml
  store_sales/function_app.py
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Fixed IaC format.
  IaC/main.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Fixed Terraform environment variable.
  azure-pipelines/orchestrator.yml
Due: none

Added Topic to Servicebus.
  IaC/main.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Fixed Terraform format.
  IaC/main.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Modifed PostgreSQL user access.
  store_sales/function_app.py
  store_sales/store_sales.py
Due: none

Modifed PostgreSQL user access.
  database_config/changelogs/03-grant-permissions.yaml
Due: none

Modified database table and fixed store_sales errors.
  database_config/changelogs/01-create-tables.yaml
  store_sales/contract.py
Due: none

Fixed errors in Contract and Transaction for store_sales.
  database_config/changelogs/01-create-tables.yaml
  store_sales/contract.py
  store_sales/function_app.py
  store_sales/store_sales.py
  store_sales/transaction.py
Due: none

Updated Infra for store_sales service.
  IaC/main.tf
  IaC/modules/service-bus/main.tf
  IaC/modules/service-bus/variables.tf
  IaC/variables.tf
  store_sales/function_app.py
  store_sales/host.json
  store_sales/requirements.txt
  webhook_listener/host.json
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Updated CI/CD for store_sales service.
  IaC/modules/function-app/outputs.tf
  IaC/outputs.tf
  azure-pipelines/ci-storedb.yml
  azure-pipelines/ci-storesales.yml
  azure-pipelines/orchestrator.yml
  store_sales/requirements-dev.txt
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Formatted Python code for store_sales.
  azure-pipelines/orchestrator.yml
  store_sales/contract.py
  store_sales/function_app.py
  store_sales/transaction.py
Due: none

Remove Unit Test for store_sales temporarily.
  azure-pipelines/ci-storesales.yml
  store_sales/store_sales.py
Due: none

Fixed format store_sales.
  store_sales/store_sales.py
Due: none

Fix format
  store_sales/store_sales.py
Due: none

Fix Terraform Output.
  IaC/outputs.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Fix code deployment of function apps.
  azure-pipelines/orchestrator.yml
Due: none

Add axie sale storing to db.
  store_sales/function_app.py
  store_sales/store_sales.py
  store_sales/transaction.py
Due: none

Fix CI/CD for store_sales.
  azure-pipelines/orchestrator.yml
  store_sales/contract.py
  store_sales/store_sales.py
  store_sales/transaction.py
Due: none

Add Send Message to Axies topic in store_sales.
  store_sales/function_app.py
  store_sales/requirements.txt
  store_sales/store_sales.py
Due: none

Added comments.
  store_sales/contract.py
  store_sales/store_sales.py
Due: none

Fix errors in store_sales.
  database_config/changelogs/01-create-tables.yaml
  store_sales/contract.py
  store_sales/function_app.py
  store_sales/store_sales.py
  store_sales/transaction.py
Due: none

Fix format store_sales
  store_sales/contract.py
  store_sales/store_sales.py
  store_sales/transaction.py
Due: none

Fix authentication issue for azure_sales function.
  IaC/main.tf
  store_sales/function_app.py
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Fix connection string to Postgres in store_sales.
  store_sales/function_app.py
Due: none

Fix log level in store_sales Function.
  store_sales/contract.py
  store_sales/function_app.py
  store_sales/host.json
  store_sales/store_sales.py
  store_sales/tests/test_contract.py
  store_sales/tests/test_function_app.py
  store_sales/tests/test_store_sales.py
  store_sales/tests/test_transaction.py
Due: none

Added logging for store_sales function.
  store_sales/contract.py
Due: none

Modified log level of store_sales function.
  store_sales/host.json
Due: none

Modified Key Vault Secret retrieval for store_sales to try fixing the http_client unclosed error.
  store_sales/function_app.py
Due: none

Test fix Servicebus timeout in store_sales.
  store_sales/function_app.py
  store_sales/store_sales.py
Due: none

Test fix Unclosed client session error in store_sales.
  store_sales/function_app.py
Due: none
