Repository sam-lapointe/AxieAnalytics-Azure: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Path conditions:
  azure-pipelines.yml: any of: IaC
  azure-pipelines/orchestrator.yml: any of: IaC, webhook_listener

Update orchestrator.yml for Azure Pipelines
  azure-pipelines/orchestrator.yml
Due: none

Test Pipeline
  webhook_listener/test_pipeline.txt
Due: azure-pipelines/orchestrator.yml

Added ignore_changes for Function App in Terraform.
  IaC/main.tf
  IaC/modules/function-app/main.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Added Application Insights to Function Apps.
  IaC/main.tf
  IaC/modules/function-app/main.tf
  IaC/modules/function-app/variables.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Test Pipeline.
  webhook_listener/test_pipeline.txt
Due: azure-pipelines/orchestrator.yml

Added SCM_DO_BUILD_DURING_DEPLOYMENT for Webhook_Listener function.
  IaC/main.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Added buil-remote for the function app deployment.
  azure-pipelines/orchestrator.yml
  webhook_listener/test_pipeline.txt
Due: azure-pipelines/orchestrator.yml

Removed Lifecycle from function-app module.
  IaC/main.tf
  IaC/modules/function-app/main.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Debug
  webhook_listener/function_app.py
Due: azure-pipelines/orchestrator.yml

Added tags for Function App ans Slot.
  IaC/modules/function-app/main.tf
  IaC/modules/function-app/variables.tf
  IaC/modules/key-vault/variables.tf
  IaC/modules/postgresql/variables.tf
  IaC/modules/service-bus/variables.tf
  IaC/modules/storage-account/variables.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Added webhook_listener log level for app Insights and Ignore changes for specific tags on Functions.
  IaC/modules/function-app/main.tf
  webhook_listener/host.json
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Debug
  azure-pipelines/orchestrator.yml
  webhook_listener/function_app.py
  webhook_listener/host.json
Due: azure-pipelines/orchestrator.yml

Added AZURE_CLIENT_ID to webhook_listener function app settings.
  IaC/main.tf
  webhook_listener/function_app.py
  webhook_listener/host.json
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Debug
  IaC/main.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Debug Function App Slot
  IaC/modules/function-app/main.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Modified triggers for Azure Function App modifications.
  IaC/.terraform.lock.hcl
  IaC/modules/function-app/main.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Test Function App Slot
  webhook_listener/test_pipeline.txt
Due: azure-pipelines/orchestrator.yml

Test Function App Slot
  IaC/main.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Reformatted the output of ServiceBus in Terraform.
  IaC/modules/service-bus/outputs.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Debug Function App Slot
  IaC/main.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Modified webhook_listener CI to build locally with Oryx instead of remotely.
  IaC/main.tf
  azure-pipelines/ci-webhooklistener.yml
  azure-pipelines/orchestrator.yml
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Modified Docker permissions on webhook_listener CI.
  azure-pipelines/ci-webhooklistener.yml
  webhook_listener/test_pipeline.txt
Due: azure-pipelines/orchestrator.yml
