Repository sam-lapointe/AxieAnalytics-Azure: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/orchestrator.yml

azure-pipelines.yml:
  pool:
    name: OnPrem
  stages:
  - stage: TerraformValidation
    displayName: Terraform Validate
    variables:
    - group: Dev
    jobs:
    - job: ValidateTerraform
      steps:
      - task: TerraformInstaller@1
        displayName: Terraform Install
        inputs:
          terraformVersion: latest
  ...

azure-pipelines/orchestrator.yml:
  pool:
    name: OnPrem
  stages:
  - stage: DetermineChangedDirs
    jobs:
    - job: DetermineChanges
      steps:
      - checkout: self
        persistCredentials: true
        fetchDepth: 0
      - script: 'echo "##[group]Checking which folders changed..."
  
          git diff --name-only HEAD^ > changed.txt
  
  ...

Completed Search Parts feature for axies.
  backend/src/models/axie_sales_search.py
  backend/src/routes/axie_sales.py
  backend/src/services/axie_sales.py
  frontend/src/features/axie_filter/components/filter_section.jsx
  frontend/src/features/axie_filter/components/search_parts.jsx
  frontend/src/pages/axies.jsx
Due: azure-pipelines/orchestrator.yml

Fixed bug in model validation.
  backend/src/models/axie_sales_search.py
Due: azure-pipelines/orchestrator.yml

Deploy Azure Cache for Redis.
  IaC/main.tf
  IaC/modules/web-app/main.tf
  IaC/modules/web-app/variables.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Fixed vnet integration with web app.
  IaC/main.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Added subnet for redis.
  IaC/main.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Fixed issue with new subnet
  IaC/main.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Added private endpoint for redis connection.
  IaC/main.tf
  IaC/modules/web-app/outputs.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Fix Redis Private Endpoint.
  IaC/main.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Fixed private endpoint DNS.
  IaC/main.tf
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Implemented Redis.
  IaC/main.tf
  IaC/outputs.tf
  backend/requirements.txt
  backend/src/app.py
  backend/src/core/config.py
  backend/src/database/db.py
  backend/src/database/refresh_cache.py
  backend/src/routes/axie_sales.py
  frontend/src/pages/home.jsx
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Fixed formatting.
  IaC/main.tf
  frontend/src/pages/home.jsx
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Debug issue with Redis in Azure.
  IaC/main.tf
  backend/src/database/db.py
  backend/src/routes/axie_sales.py
Due: azure-pipelines.yml, azure-pipelines/orchestrator.yml

Updated image url for axies.
  backend/src/routes/axie_sales.py
  frontend/src/pages/axies.jsx
  store_axies/axies.py
Due: azure-pipelines/orchestrator.yml

Added documentation.
  README.md
  azure-pipelines/azure-pipelines.yml
Due: none

Added CORS restrictions.
  backend/src/app.py
Due: azure-pipelines/orchestrator.yml

Fixed issue with Cors.
  backend/src/app.py
Due: azure-pipelines/orchestrator.yml

Trigger all CI.
  backend/src/app.py
  frontend/src/pages/axies.jsx
  store_axies/axies.py
  store_sales/function_app.py
  webhook_listener/function_app.py
Due: azure-pipelines/orchestrator.yml

Added headers to frontend get requests.
  backend/src/app.py
Due: azure-pipelines/orchestrator.yml

Fix issue with deleted middleware.
  backend/src/app.py
  frontend/src/pages/axies.jsx
  frontend/src/pages/home.jsx
Due: azure-pipelines/orchestrator.yml

Temporary fix for redis errors.
  backend/src/routes/axie_sales.py
Due: azure-pipelines/orchestrator.yml

Fix DB overload.
  backend/src/app.py
Due: azure-pipelines/orchestrator.yml

Debug DB overload issue.
  backend/src/app.py
  backend/src/database/refresh_cache.py
Due: azure-pipelines/orchestrator.yml

Disabled automatic cache update due to DB overloaded.
  backend/src/app.py
  backend/src/routes/axie_sales.py
Due: azure-pipelines/orchestrator.yml

Test Fix redis token expiration.
  backend/src/database/db.py
  backend/src/routes/axie_sales.py
Due: azure-pipelines/orchestrator.yml

Fix redis auth.
  backend/src/routes/axie_sales.py
Due: azure-pipelines/orchestrator.yml

Fixed Redis Reconnect.
  backend/src/routes/axie_sales.py
Due: azure-pipelines/orchestrator.yml

Path conditions:
  azure-pipelines.yml: any of: IaC
  azure-pipelines/orchestrator.yml: any of: IaC, webhook_listener, database_config, store_sales, store_axies, backend, but not: **/README.md, **/docs, **/tests
